body {
  margin: 0;
  font-family: 'DynaPuff', cursive;
  color: white;
  text-align: center;
  background: url('https://i.pinimg.com/736x/b8/2f/12/b82f128d3da960a83f296fa291af4cb3.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
  min-height: 100vh;
  padding: 40px;
  background: rgba(0,0,40,0.65);
}

/* BUTTONS */
.btn {
  display: block;
  margin: 18px auto;
  padding: 22px;
  width: 360px;
  font-size: 28px;
  background: rgba(0,150,255,0.75);
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0,200,255,0.7);
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0,200,255,1);
}

/* INPUTS */
input, textarea, select {
  width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

/* BUBBLES */
.bubble {
  position: fixed;
  bottom: -60px;
  border-radius: 50%;
  background: rgba(173,216,230,0.35);
  animation: rise 10s linear infinite;
  z-index: 9999;
}

@keyframes rise {
  0% { transform: translateY(0); opacity: 0; }
  10% { opacity: 1; }
  100% { transform: translateY(-110vh); opacity: 0; }
}